@model PaintingBusinessWebPage.Models.ContactViewModel

@{
    ViewData["Title"] = "Contact";
}

@*<h1>Contact</h1>*@

<!--  https://nickolasfisher.com/blog/How-To-Make-a-Basic-Working-Contact-Form-With-ASP-NET-Core-MVC-and-MailKit -->

<div class="form">

    <form method="post" asp-action= "Contact" role="form">
        <h3>Have a question? let us know!</h3>

        <!-- Name input-->
        <div class="form-outline mb-4">
            <input type="text" id="name" asp-for="Name" class="form-control" />
            <label class="form-label" for="name">Name</label>
        </div>

        <!--Email input -->
        <div class="form-outline mb-4">
            <input type="email" id="email" asp-for="Email" class="form-control" />
            <label class="form-label" for="email">Email address</label>
        </div>

        <!-- Message input -->
        <div class="form-outline mb-4">
            <textarea class="form-control" id="message" asp-for="Message" rows="4"></textarea>
            <label class="form-label" for="message">Message</label>
        </div>


        <!-- Submit button -->
        <button type="submit" class="btn btn-outline-dark btn-block mb-4">Send</button>
    </form>
</div>


<div class="text-center">
    <h3>Also follow us on our social media channels!</h3>
    
    <!-- Facebook-->
    <a class="btn btn-primary" style="background-color: #3b5998;" href="#" role="button">
        <i class="fab fa-facebook me-2"></i>Facebook
    </a>

    <!-- Instagram -->
    <a class="btn btn-primary" style="background-color: #ac2bac;" href="#" role="button">
        <i class="fab fa-instagram me-2"></i>Instagram
    </a>

    <!-- Youtube -->
    <a class="btn btn-primary" style="background-color: #ed302f;" href="#" role="button">
        <i class="fab fa-youtube me-2"></i>Youtube
    </a>
</div>