@{
    ViewData["Title"] = "About Us";
}



<div class="about-section">
    <h1>About Us</h1>
    <h3>We are a group of young professional painters and we love to paint and have the projects come to life.</h3>
</div>

<h2 style="text-align:center">The Owner</h2>
<div class="row">
    <div class="about-column">
        <div class="about-card text-center">
            <img id="owner" src="/images/owner.jpg" alt="Brian" style="width:40%" />
            <div class="about-container">
                <h2>Brian Morales</h2>
                <p class="title">CEO and Founder</p>
                <p>Brian started the AllPros painting business after working for another paint company with his father. 
                He wanted to branch out and start his own company with his own
                American Dream. He has 10 years experience in the painting business and knows the ins and outs of what is required to be a great painter. </p>
            </div>
        </div>
    </div>
</div>