@{
//ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Where paint matters!</h1> 
</div>*@



@*<div id="banner" style ="background:transparent !important" class="jumbotron jumbotron-fluid" >
    <div class="container-fluid">
  <h1 class="display-4">AllPros, where paint matters!</h1>
  <p class="lead">Here at AllPros we take pride in what we do. Be assured that all your painting projects will be handled by expert painters.</p>

    <img class="img-fluid" src="~/images/personpainting.jpg" />
   </div>
</div>*@

<div class="hero-image">
    <div class="hero-text">
        <h1 style="font-size:50px">AllPros, where paint matters!</h1>
        <h3>Here at AllPros we take pride in what we do. Be assured that all your painting projects will be handled by expert painters.</h3>
    </div>
</div>

<br />

<container class="text-center">
 <div style="background:transparent !important" class="card w-100">
  <div class="card-body">
    <h4 class="card-title">Services we offer:</h4>
      <br />
    <h5 class="card-text"> Residential services:</h5>
      <p class="card-text"> - Interior painting of rooms</p>
      <p class="card-text"> - Outdoor painting</p>
      <p class="card-text"> - Staining </p>
      <p class="card-text"> - Doors and window frames</p>
      <p class="card-text"> - Cabinet refinishing and repainting</p>
      <p class="card-text"> - Wallpaper Removal</p>
      <h5 class="card-text"> Commercial services:</h5>
      <p class="card-text"> - Interior Painting</p>
      <p class="card-text"> - High-Durability Coatings</p>
      <p class="card-text"> - Drywall Repair</p>
      <p class="card-text"> - Tilt-up Repairs and Painting</p>
      <p class="card-text"> - Power Washing</p>


      <br />
    <a asp-controller="Contact" asp-action="contact" class="btn btn-primary bg-dark">Contact Us</a>
  </div>
</div>

 </container>

 <hr class="my-4">
  <h5>Your painting projects are in good hands!</h5>

 <div class="card-deck" style="background:transparent !important">
        <div class="card">
            <img src="/images/personpainting.jpg" class="card-img-top rounded" alt="">
            <div class="card-body">
                <h5 class="card-title">Highly qualified and professional painters.</h5>
                <p class="card-text">Our painters take pride in their work and will make sure that your project is done right.</p>
                
            </div>
        </div>
        <div class="card" >
            <img src="/images/entryway.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">High Quality Painting</h5>
                <p class="card-text">We make sure that we are as careful as can be when painting for our customers. We will cover all areas 
                of the house to make sure that paint does not get into where it shouldn't be</p>
                
            </div>
        </div>
        <div class="card">
            <img src="/images/rollerbrush.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Best Quality tools</h5>
                <p class="card-text">We use the best quality tools available to make sure your projects come out the way you intended them.</p>
                
                <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
        </div>
    </div>



<br />

  <p class="lead text-center">
    <a class="btn btn-primary btn-lg bg-dark" asp-controller="Home" asp-action="Projects"  role="button">Check out our work</a>
  </p>



@*<container>
    <img src="~/images/paintbrush.jpg" class="img-fluid"   alt="paint brush"/>
</container>*@
   

