@{
//ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Where paint matters!</h1> 
</div>*@



<div style ="background:transparent !important" class="jumbotron jumbotron-fluid" >
    <div class="container-fluid">
  <h1 class="display-4">AllPros, where paint matters!</h1>
  <p class="lead">Here at AllPros we take pride in what we do. Be assured that all your painting projects will be handled by expert painters.</p>

        <div style="background:transparent !important"  class="card w-100">
  <div class="card-body">
    <h5 class="card-title">Services we do</h5>
    <p class="card-text"> Residential services</p>
      <p class="card-text"> Commercial services</p>
    <a asp-controller="Contact" asp-action="contact" class="btn btn-primary">Contact Us</a>
  </div>
</div>
  <hr class="my-4">
  <p>Your painting projects are in good hands!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" asp-controller="Home" asp-action="Projects"  role="button">Check out our work</a>
  </p>
   </div>
</div>



@*<container>
    <img src="~/images/paintbrush.jpg" class="img-fluid"   alt="paint brush"/>
</container>*@
   

