@{
    ViewData["Title"] = "Projects";
}



@*<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Projects We've done!</h1>
            <p class="lead text-dark">Here is a collection of some of the projects we've worked on. This is just a small sample and we would be happy to show additional projects by request.</p>

        </div>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="800" height="225" src="~/images/houseproject.jpg" />
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="800" height="225" src="~/images/houseproject2.jpg" />

                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                           
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</div>*@

<div class="picture-div">
    <div class="picture-container">

        <!-- Full-width images with number text -->
        <div class="mySlides">
            <div class="numbertext">1 / 6</div>
            <img src="/images/houseproject.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">2 / 6</div>
            <img src="/images/houseproject2.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">3 / 6</div>
            <img src="/images/houseproject3.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">4 / 6</div>
            <img src="/images/houseproject4.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">5 / 6</div>
            <img src="/images/houseproject5.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">6 / 6</div>
            <img src="/images/houseproject6.jpg" style="width:100%">
        </div>

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <!-- Image text -->
        <div class="caption-container">
            <p id="caption"></p>
        </div>

        <!-- Thumbnail images -->
        <div class="row">
            <div class="column">
                <img class="demo cursor" src="/images/houseproject.jpg" style="width:100%" onclick="currentSlide(1)" alt="Fun apartment project with our furry helper.">
            </div>
            <div class="column">
                <img class="demo cursor" src="/images/houseproject2.jpg" style="width:100%" onclick="currentSlide(2)" alt="Modern style design we did for a client.">
            </div>
            <div class="column">
                <img class="demo cursor" src="/images/houseproject3.jpg" style="width:100%" onclick="currentSlide(3)" alt="Kitchen project">
            </div>
            <div class="column">
                <img class="demo cursor" src="/images/houseproject4.jpg" style="width:100%" onclick="currentSlide(4)" alt="Living room project.">
            </div>
            <div class="column">
                <img class="demo cursor" src="/images/houseproject5.jpg" style="width:100%" onclick="currentSlide(5)" alt="Living room project">
            </div>
            <div class="column">
                <img class="demo cursor" src="/images/houseproject6.jpg" style="width:100%" onclick="currentSlide(6)" alt="Bedroom project">
            </div>
        </div>
    </div>

</div>